// main: main.less
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

html, body{
   height: 190%;

}
html{
   background-color: white;
   font-family: 'Fira Sans', sans-serif;

}
body{
   overflow-x: hidden;
   height: 100%;
   background: linear-gradient(to bottom, #190017 0%,#3b3f4c 100%);
}

#ciel{
   height: 100vh;
}

#etoile{
   position: absolute;

}

@keyframes animEtoile{
   0%{
      stroke-width: 0.75em;
      transform: rotate(0deg) scale(0.15,0.15);
   }

   100%{
      stroke-width: 2.5em;

   }
}

#pathEtoile{
   fill: #DDD;
   width: 1em;
   transform: scale(1,1);
   stroke: #E1CB45;
   stroke-width: 0.75em;
   transition: stroke 2s, stroke-width 3s;
   animation-name: animEtoile;
   animation-duration: 2s;
   transform-origin: center;
   animation-iteration-count: infinite;
   animation-direction: alternate-reverse;
   animation-timing-function: linear;
}

@keyframes animArbre {
   0%{
      transform: rotate(0deg) translateY(0px);
   }
   25%{
      transform: rotate(1deg);
   }

   75%{
      transform: rotate(-1deg) translateY(-10px);
   }
   100%{
      transform: rotate(0deg) translateY(0px);
   }
}

#feuille{
   animation-name: animArbre;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   animation-direction: alternate-reverse;
}

#montagne{
   width: 405%;
   height: 100vh;
}

#montagne_fond{
   fill: #363A41;
   stroke-width:0.15em;
   stroke: #000;
}

#montagne_avant{
   fill:#525762;
   stroke-width:0.15em;
   stroke: #000;
}

#leSol{
   border-top: 5px solid black;
   z-index: 9999;
   height: 70vh;
   width: 100%;
   background: linear-gradient(to bottom, #002400 0%,#005700 100%);
}

#arbres{
   width: 100%;

}

footer{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-top: 5px solid black;
   background-color: white;
   width: 100%;
   height: 25em;

}

footer ul{
   margin-top: 1.5em;
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 2em;
   flex-wrap: wrap;
}

footer ul li{
   margin: 1em 2em 0 2em;
}

footer ul li a{
   font-size: 2.5em;
   text-decoration: none;
   color: black;
}

footer article{
   text-align: center;
   font-size: 1.25em;
   line-height: 1.5em;
}

#feuille{
   fill: #9acd32;
   fill-rule:evenodd;
   stroke: black;
   stroke-width: 0.75em;

}

#def-arbre{
   transform: translateY(1000px);
}

#tronc{
   fill: #8b4513;
   fill-rule:evenodd;
   stroke: black;
   stroke-width: 0.75em;
}
